<!DOCTYPE html>
<html>
  <head>
    <title>Menboter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body>

    <nav class="uk-section-primary" uk-navbar>
    
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/">Menboter</a></li>
        </ul>
      </div>

      <div class="uk-navbar-right">

          
          <% if user_signed_in? %>
            <ul class="uk-navbar-nav">
              <li><a href="#" class="uk-text-capitalize uk-text-success"><%= current_user.name %>さん</a></li>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <div class="uk-navbar-item">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input uk-form-width-small", placeholder: "email" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "uk-input uk-form-width-small", placeholder: "password" %>
                <%= f.submit "Log in", class: "uk-button uk-button-default" %>

              <% end %>
            </div>
            <ul class="uk-navbar-nav">
              <li><%= link_to "signup", new_user_registration_path %></li>
              <li>
                  <a href="#">Options</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                      <ul class="uk-nav uk-navbar-dropdown-nav">

                        <li><%= link_to "Forgot your password?", new_password_path(resource_name),class: "uk-text-warning"  %></li>

                        <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name),class: "uk-text-success" %></li>

                        <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name),class: "uk-text-danger"  %></li>
                      </ul>
                  </div>
              </li>
            </ul>

          <% end %>
  
      </div>

    </nav>
    
    
    <div class="uk-container">
      <% if  notice || alert %> 
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <% end %> 
      <%= yield %>
    </div>
  </body>
</html>
